@model crud_mvc.Models.ViewModels.PessoaFormView

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<h4>Pessoa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div class="form-group">
                <label asp-for="Pessoa.Cpf" class="control-label"></label>
                <input asp-for="Pessoa.Cpf" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Pessoa.Nome" class="control-label"></label>
                <input asp-for="Pessoa.Nome" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Pessoa.Genero" class="control-label"></label>
                <!--asp-items constroi uma caixa de seleção com base na lista informada-->
                <!--1arg- fonte de dados da conleção 2arg- qual atributo será a chave 3arg- qual informação aparecerá para o usuário-->
                <select asp-for="Pessoa.GeneroId" asp-items="@(new SelectList(Model.Genero,"Id","Nome"))" class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="Pessoa.Profissao" class="control-label"></label>
                <!--asp-items constroi uma caixa de seleção com base na lista informada-->
                <!--1arg- fonte de dados da conleção 2arg- qual atributo será a chave 3arg- qual informação aparecerá para o usuário-->
                <select asp-for="Pessoa.ProfissaoId" asp-items="@(new SelectList(Model.Profissao,"Id","Nome"))" class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="Pessoa.DataNascimento" class="control-label"></label>
                <input asp-for="Pessoa.DataNascimento" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Pessoa.Estado" class="control-label"></label>
                <!--asp-items constroi uma caixa de seleção com base na lista informada-->
                <!--1arg- fonte de dados da conleção 2arg- qual atributo será a chave 3arg- qual informação aparecerá para o usuário-->
                <select asp-for="Pessoa.EstadoId" asp-items="@(new SelectList(Model.Estado,"Id","Nome"))" class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="Pessoa.Peso" class="control-label"></label>
                <input asp-for="Pessoa.Peso" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Pessoa.Altura" class="control-label"></label>
                <input asp-for="Pessoa.Altura" class="form-control" />
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>